node_modules/
dist/
.next/
.turbo/
*.log
.env
.env.local
.env.*.local
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
.DS_Store
coverage/
.nyc_output/
*.tsbuildinfo
kafka_2.13-3.6.1

# Blockchain Artifacts
services/blockchain/artifacts/
services/blockchain/cache/
services/blockchain/typechain-types/
services/blockchain/deployments/

# Temp Notes
*.txt

